
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes move {
    to {
      z-index: -1;
      opacity: 0;
    }
  }
  

//Animation Menu 

@keyframes loadAnimation {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}



//heart icon animation
.text-card h3{
  display: flex;
 justify-content: space-between;
      width: 100%;
}


.heart {
 margin-right: 2%;
 position: relative;
 width: 30px;
 height: 30px;

 fill: transparent;
 :hover,
 :active {
   cursor: pointer;
   animation: opacity 0.4s ease-in forwards;
   fill: url(#gradient01);
   fill: url(#gradient02);
   fill: url(#gradient03);
   fill: url(#gradient04);
   

   stroke: #ffffff;
 }

 @keyframes opacity {
   100% {
     opacity: 1;
   }
   50% {
     opacity: 0.5;
   }
   0% {
     opacity: 0;
   }

 }}
